body {
  background-color: #7a3dfb;
}
.container {
  position: relative;
}

.username {
  width: 25%;
  height: 6%;
  border-radius: 50px;
  text-align: center;
  color: #4162f6;
  font-family: "product sans";
  font-size: 17px;
  font-weight: bold;
}

.username::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  
  color: #4162f6;
  font-family: "product sans";
  font-size: 17px;
  font-weight: bold;
  opacity: 0.5;
  border: 2px solid white;
}

.username:hover{
  border-color: #00d2ff;
}

.kpbtn {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  border-radius: 50px;
  width: 50%;
  font-size: 25px;
  font-family: "open sans";
  font-weight: bold;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid white;
}

.kpbtn:hover {
  background-image: radial-gradient(
    circle 760px at 50.7% 60.5%,
    rgba(76, 120, 183, 1) 0%,
    rgba(34, 70, 122, 1) 90%
  );
}

.instructions{
  position: absolute;
  right: 320px;  
  top: 455px;
  color: #fff;
  font-family: 'product sans';
  font-weight: bold;
}

b{
  color: black;
}